@model DIPO_INVESTAMA.Models.PagedList<DIPO_INVESTAMA.Models.OutputViewModels>

<div class="box box-primary body-box-primary">
    <div class="box-header with-border">
        <h3 class="box-title Poppins-Bold font-white">Today's Journal</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form">
        <div class="box-body">
            <table class="table Poppins-Regular font-white" id="example1">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Date")
                        </th>
                        <th>
                            @Html.DisplayName("Maker")
                        </th>
                        <th>
                            @Html.DisplayName("Department")
                        </th>
                        <th>
                            @Html.DisplayName("Account")
                        </th>
                        <th>
                            @Html.DisplayName("Bank")
                        </th>
                        <th>
                            @Html.DisplayName("Description")
                        </th>
                        <th>
                            @Html.DisplayName("Cash Out")
                        </th>
                        <th>
                            @Html.DisplayName("Cash In")
                        </th>
                        <th>
                            @Html.DisplayName("Balance")
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Content.Count; i++)
            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Content[i].Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Content[i].Maker)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Content[i].Department)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Content[i].Account)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Content[i].BankAccount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Content[i].Description)
                            </td>
                            <td>
                                @*@Html.DisplayFor(modelItem => Model.Content[i].CashIn)*@
                                <span>@Convert.ToDecimal(Model.Content[i].CashIn.Equals("")?"0": Model.Content[i].CashIn).ToString("#,##;[#,##];-")</span>
                            </td>
                            <td>
                                @*@Html.DisplayFor(modelItem => Model.Content[i].CashOut)*@
                                @*@Convert.ToDecimal(Model.Content[i].CashOut.ToString())*@

                                @if (Model.Content[i].CashOut != "")
                                {

                                    <span>@Convert.ToDecimal(Model.Content[i].CashOut.Equals("") ? "0" : Model.Content[i].CashOut).ToString("#,##;[#,##];-")</span>

                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => Model.Content[i].CashOut)

                                }


                                @*@if (Convert.ToDecimal(Model.Content[i].CashOut) < 0)
                                {
                                   <span style="color:red">@Convert.ToDecimal(Model.Content[i].CashOut).ToString("#,##;[#,##];-")</span>
                                }
                                else
                                {
                                    
                                    <span>@Convert.ToDecimal(Model.Content[i].CashOut).ToString("#,##;[#,##];-") </span>
                                }*@

                            </td>
                            <td>
                                @if (Convert.ToDecimal(Model.Content[i].Balance) < 0)
                                {
                                   <span style="color:red;">@Convert.ToDecimal(Model.Content[i].Balance).ToString("#,##;[#,##];-")</span>
                                }
                                else
                                {
                                    <span>@Convert.ToDecimal(Model.Content[i].Balance).ToString("#,##;[#,##];-")</span>
                                }
                            </td>
                            <td>
                                @if (Model.Content[i].CheckedBy == null && Model.Content[i].RejectedBy == null)
                                {
                                    <a style="cursor:pointer" value="loop" onclick="ShowModalCheck(@i)">
                                        <i class="glyphicon glyphicon-ok" style="color:green"></i>
                                    </a>
                                    <div id="modalCheck_@i" class="modal fade" tabindex="-1" data-keyboard="false" data-backdrop="static">
                                        <div class="modal-dialog">
                                            <div class="modal-content" style="width:700px;">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" style="float:left; width:100px; background-color:none"> <i class="glyphicon glyphicon-ok"></i> Check</h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    Do you really to checked ??
                                                </div>
                                                <div class="modal-footer">
                                                    <a data-toggle="tooltip" title="Check" href="@Url.Action("Checked", "Output", new { id = Model.Content[i].PettyCashId })" class="btn btn-primary"> Check</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else if (Model.Content[i].ApprovalBy == null && Model.Content[i].CheckedBy != null && Model.Content[i].RejectedBy == null)
                                {
                                    <a style="cursor:pointer" value="loop" onclick="ShowModalApprove(@i)">
                                        <i class="glyphicon glyphicon-ok" style="color:green"></i>
                                    </a>
                                    <div id="modalApprove_@i" class="modal fade" tabindex="-1" data-keyboard="false" data-backdrop="static">
                                        <div class="modal-dialog">
                                            <div class="modal-content" style="width:700px;">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" style="float:left; width:100px; background-color:none"> <i class="glyphicon glyphicon-ok"></i> Approve</h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    Do you really to approved ??
                                                </div>
                                                <div class="modal-footer">
                                                    <a data-toggle="tooltip" title="Approve" href="@Url.Action("Approved", "Output", new { id = Model.Content[i].PettyCashId })" class="btn btn-primary"> Approve</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                                @if ((Model.Content[i].ApprovalBy == null || Model.Content[i].CheckedBy == null) && Model.Content[i].RejectedBy == null)
                                {
                                    <a style="cursor:pointer" value="loop" onclick="ShowModalApprove(@i)">
                                        <i class="glyphicon glyphicon-remove" style="color:red"></i>
                                    </a>
                                    <div id="modalApprove_@i" class="modal fade" tabindex="-1" data-keyboard="false" data-backdrop="static">
                                        <div class="modal-dialog">
                                            <div class="modal-content" style="width:700px;">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" style="float:left; width:100px; background-color:none"> <i class="glyphicon glyphicon-remove"></i> Reject</h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    Do you really to rejected ??
                                                </div>
                                                <div class="modal-footer">
                                                    <a data-toggle="tooltip" title="Reject" href="@Url.Action("Rejected", "Output", new { id = Model.Content[i].PettyCashId })" class="btn btn-primary"> Reject</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </form>
</div>
<script>
    function ShowModalCheck(idx) {
        $("#modalCheck_" + idx).modal('show');
    }

    function ShowModalApprove(idx) {
        $("#modalApprove_" + idx).modal('show');
    }
</script>

