@model DIPO_INVESTAMA.Entity.sp_AccountDetailSelect_Result
@using (Html.BeginForm("Edit", "MasterAccountDetails", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.AccountDetailId)
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <label>No</label>
                        @Html.TextBoxFor(model => model.No, new { @class = "form-control", @placeholder = "No", autocomplete = "off", required = "required" })
                    </div>
                    <div class="col-md-4">
                        <label>Name</label>
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Name", autocomplete = "off", required = "required" })
                    </div>
                    <div class="col-md-4">
                        <label>Account No</label>
                        @Html.DropDownListFor(model => model.AccountId, ViewBag.AccountList as SelectList, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a type="button" class="btn btn-default" href="@Url.Action("Index","MasterAccountDetails")">Kembali</a>
        </div>
    </div>
}
