@model DIPO_INVESTAMA.Models.PagedList<DIPO_INVESTAMA.Models.InputViewModels>

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Today's Journal</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form">
        <div class="box-body">
            <table class="table table-bordered table-striped" id="example1">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Date")
                        </th>
                        <th>
                            @Html.DisplayName("Account")
                        </th>
                        <th>
                            @Html.DisplayName("Bank")
                        </th>
                        <th>
                            @Html.DisplayName("Description")
                        </th>
                        <th>
                            @Html.DisplayName("Cash Out")
                        </th>
                        <th>
                            @Html.DisplayName("Cash In")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Content.Count; i++)
            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Content[i].Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Content[i].Account)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Content[i].BankAccount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Content[i].Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Content[i].CashIn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Content[i].CashOut)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </form>
</div>

