@model DIPO_INVESTAMA.Entity.sp_MenuRestrictionSelect_Result
@using (Html.BeginForm("Edit", "MenuRestriction", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.RestrictionId)
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <label>Role Name</label>
                        @Html.DropDownListFor(model => model.RoleId, ViewBag.RoleList as SelectList, new { @class = "form-control" })
                    </div>
                    <div class="col-md-6">
                        <label>Department</label>
                        @Html.DropDownListFor(model => model.MenuId, ViewBag.MenuList as SelectList, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a type="button" class="btn btn-default" href="@Url.Action("Index","MenuRestriction")">Kembali</a>
        </div>
    </div>
}

<script>
    $(function () {
        $('#RoleId').change(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("MenuDDL", "MenuRestriction")",
                data: { roleId: $('#RoleId').val() },
                success: function (response) {
                    DisableDropDown("#MenuId");
                    PopulateDropDown('#MenuId',response)
                },
                error: function (response) {
                    alert(response)
                }
            });
        });
    });
</script>
